<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>withSun</key>
		<dict>
			<key>Definition</key>
			<string>Oberserve que withSun é do tipo Booleano, pois poderá receber `true` ou `false`</string>
		</dict>
		<key>withWater</key>
		<dict>
			<key>Definition</key>
			<string>Oberserve que withWater é do tipo Booleano, pois poderá receber `true` ou `false`</string>
		</dict>
		<key>command</key>
		<dict>
			<key>Definition</key>
			<string>Testnaodo glossario</string>
		</dict>
		<key>CactusType</key>
		<dict>
			<key>Definition</key>
			<string> Observe os possíveis valores:
 - `.Mammillaria`
 - `.CephalocereusSenilis`
 - `.ChamaecereusSilvestrii`</string>
		</dict>
	</dict>
</dict>
</plist>
