<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>withSun</key>
		<dict>
			<key>Definition</key>
			<string>Note that whitSun is of the Boolean type, so you may receive `true` or `false` values</string>
		</dict>
		<key>withWater</key>
		<dict>
			<key>Definition</key>
			<string>Note that whitWater is of the Boolean type, so you may receive `true` or `false` values</string>
		</dict>
		<key>command</key>
		<dict>
			<key>Definition</key>
			<string>Testnaodo glossario</string>
		</dict>
		<key>CactusType</key>
		<dict>
			<key>Definition</key>
			<string>Observe the possible values:
 - `.Mammillaria`
 - `.CephalocereusSenilis`
 - `.ChamaecereusSilvestrii`</string>
		</dict>
	</dict>
</dict>
</plist>
